body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
	overflow: hidden!important;

	/*cursor: url('pointer.png'), pointer;*/    
}

#frameContainer{
	width: 100vw;
	height: 100vh; 
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0; 
}


.background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
  }

  .background-video-controls {
	width: 100%; 
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
  }

  .sketchfab-embed-wrapper{
	width: 100vw;
	height: 100vh; 
	left: 0;
	right: 0;
	top: 0;
	bottom: 0; 
  }

  .sketchfab-embed-wrapper-iframe{
	width: 100vw;
	height: 100vh; 
	left: 0;
	right: 0;
	top: 0;
	bottom: 0; 
	overscroll-behavior: none;
	overflow: hidden!important;
  }

  /* RAVE CONTAINER */

  #flashContainer{ 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
  } 

  .on1{
	opacity: 1;
	-webkit-animation: raveOn .1s infinite;
  }

  .on2{
	opacity: 1;
	-webkit-animation: raveOn .2s infinite;
  }

  .on3{
	opacity: 1;
	-webkit-animation: raveOn .3s infinite;
  }

  .on4{
	opacity: 1;
	-webkit-animation: raveOn .4s infinite;
  }

  .on5{
	opacity: 1;
	-webkit-animation: raveOn .5s infinite;
  }

  .on6{
	opacity: 1;
	-webkit-animation: raveOn .6s infinite;
  }

  .off{
	opacity: 0;
  }

  .offOver{
	opacity: 0;
	display: none;
  }

  
  @-webkit-keyframes raveOn{
	0%{
	  opacity: 0.50;
	}
	100%{
	  opacity: 0;
	}
  }


  